
@import './common.less';
@import './antd.less';

body, html{
    margin: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    user-select: text;
}
p, h1, h2, h3, h4, ul, li, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

