
.qa-wrapper{
    .header-wrapper{
        margin-top: 15px;
        margin-bottom: 23px;
        .header-search{
            width:555px;
            height:40px;
            background-color:rgba(247,247,247,1) !important;
            border-radius:9px;
            margin: 0 auto;
            padding-left: 21px;
            line-height: 40px;
            font-size:16px;
            color:rgba(210,210,210,1);
            background-size: 23px 23px !important;
            background-position: 95% 50% !important;
        }
    }
}

